body {
    background-color: whitesmoke;
 }

.submit {
    margin-left: 10px;
    background-color: orange;
    
}

.navbar {
    border: 2px none white;
    margin: 5px;
    height: min-content;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    margin-bottom: 0;
}
.star {
    margin-left: 32px;
}

.top-items {
    margin-right: 550px;
}
li {
    display: inline-block;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.bi {
    font-size: 25px;
}

.card {
    margin-left: 28px;
}

.list-group-item {
    border: none;
}

.card ul li a {
    color: rgb(16, 15, 15);
}

 .card ul li:hover {
    background-color: gre;
    padding: 10px;
}

.tin {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.Product-card{
    width: 75%;
    margin: 9px;
    
}
